@tailwind base;
@tailwind components;
@tailwind utilities;
body.no-scroll {
  overflow: hidden;
}

/* Prevent horizontal scroll globally */
html, body {
  overflow-x: hidden;
  width: 100%;
}

@media (max-width: 768px) {
  .mobile-padding-inline {
    padding-inline: 20% !important;
  }
}